* {
  box-sizing: border-box;
}

.game-lab {
  display: table;
  margin: 10px auto;

  td {
    width: 10px;
    height: 10px;
    font-size: 10px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
  }
}

.dimensions {
  width: 30%;
  margin: 0 auto;
  text-align: center;
}

table {
  border: 2px solid black;
  border-collapse: collapse;
}

.cell__start {
  background-color: #0a0;
}

.cell__finish {
  background-color: #a00;
}

.cell__wall {
  background-color: #000;
}

.cell__route {
  background-color: #ff0;
  color: #000;
}

.menu {
  display: flex;
  justify-content: center;

  button {
    margin-left: 10px;
  }
}
