* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #feffb6 30%, #cfcece 0, #cfcece 50%, #feffb6 0, #fff 0%, #fff 0);
  background-size: 1550px 1550px;
  background-repeat: no-repeat;
}

.container-portfolio {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 100px 120px;
}
.container-portfolio .my-works {
  font-weight: bold;
  font-size: 48px;
  line-height: normal;
  color: #111111;
}
.container-portfolio .slider {
  position: relative;
  margin: 0px auto 100px;
  width: 1200px;
  height: 610px;
}
.container-portfolio .slider__crop {
  overflow: hidden;
}
.container-portfolio .slider__container {
  display: inline-flex;
  justify-content: flex-start;
  transition: margin-left 200ms;
}
.container-portfolio .slider__button {
  position: absolute;
  background: #dae1ec;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 40px;
  text-align: center;
  line-height: 60px;
  color: #1a1a1a;
  top: 40%;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: background-color 0.3s;
}
.container-portfolio .slider__button__left {
  left: -40px;
}
.container-portfolio .slider__button__right {
  right: -40px;
}
.container-portfolio .slider__button__left:hover, .container-portfolio .slider__button__right:hover {
  background-color: #db4951;
}
.container-portfolio .slider .slider__element {
  position: relative;
  margin-right: 80px;
  min-width: 346px;
  height: 609px;
  padding: 30px 30px 50px 30px;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.container-portfolio .slider .slider__element__number {
  font-weight: bold;
  font-size: 48px;
  line-height: 57px;
  color: #111111;
  margin-bottom: 32px;
}
.container-portfolio .slider .slider__element__name {
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #111111;
  margin-bottom: 20px;
}
.container-portfolio .slider .slider__element__text {
  margin-top: 30px;
}
.container-portfolio .slider .slider__element:hover {
  background-color: #aaa;
  transform: translateY(-5px);
}
.container-portfolio .slider .slider__element:hover::after {
  position: absolute;
  height: 609px;
  top: 0;
  left: 0;
  content: "";
  border-left: 10px solid #db4951;
  border-radius: 3px 0px 0px 3px;
}
.container-portfolio .game-place {
  margin: 0 auto;
  max-width: 1200px;
  min-height: 500px;
  background-color: #fff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}
.container-portfolio .game-place__header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 60px;
}
.container-portfolio .game-place__header__name {
  min-width: 250px;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  color: #111111;
}
.container-portfolio .game-place__header__text {
  width: 50%;
}
.container-portfolio .game-place__game {
  padding-bottom: 60px;
}
.container-portfolio .sterssed {
  border-bottom: 2px solid #db4951;
  padding-bottom: 10px;
}

.container {
  border-collapse: collapse;
  background-color: #ccc;
  margin: 0px auto;
  cursor: pointer;
}
.container td {
  height: 80px;
  min-width: 80px;
  font-size: 40px;
  border: 2px solid gray;
  text-align: center;
  vertical-align: middle;
  transition: all 0.5s ease-out;
}
.container td:hover {
  background-color: #f88;
}

.restart {
  display: flex;
  margin: 30px auto;
  cursor: pointer;
}

.highlight {
  background-color: #9999ff;
}

.winner15 {
  display: flex;
}

/* .visibility {
  display: none;
} */
.win {
  background-color: rgba(255, 0, 0, 0.6);
  margin: 0 auto;
  border-radius: 5px;
  padding: 10px;
}

* {
  box-sizing: border-box;
}

.game-lab {
  display: table;
  margin: 10px auto;
}
.game-lab td {
  width: 10px;
  height: 10px;
  font-size: 10px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
.game-lab table {
  border: 2px solid black;
  border-collapse: collapse;
}

.dimensions {
  width: 30%;
  margin: 0 auto;
  text-align: center;
}

.cell__start {
  background-color: #0a0;
}

.cell__finish {
  background-color: #a00;
}

.cell__wall {
  background-color: #000;
}

.cell__route {
  background-color: #ff0;
  color: #000;
}

.menu {
  display: flex;
  justify-content: center;
}
.menu button {
  margin-left: 10px;
}

.game {
  border: 1px solid #000;
  max-width: 900px;
  margin: 0 auto;
  padding: 10px;
  min-height: 800px;
  background: #1b4c25;
}

.card {
  position: absolute;
  width: 100px;
  height: 150px;
  background: #ddd;
  font-size: 20px;
  line-height: 25px;
  border-radius: 5px;
  padding: 5px;
  border: 2px solid #cac6c6;
  margin-left: -2px;
  cursor: pointer;
}

.card--closed {
  background-color: #030;
  color: #030 !important;
}

.card--pressed {
  box-shadow: 0 0 10px yellow;
}

.placeholder {
  float: left;
  margin: 10px;
  width: 100px;
  height: 150px;
  border-radius: 5px;
  color: transparent;
  border: 2px solid rgba(150, 150, 150, 0.7);
  cursor: pointer;
}

.card__red {
  color: red;
}

.card__black {
  color: black;
}

.deck__main {
  float: left;
}

.deck__final {
  float: right;
}

.decks__workflow {
  display: flex;
  justify-content: space-between;
  margin: 200px auto;
}

.winner {
  display: none;
  text-align: center;
  width: 150px;
  padding: 10px;
  border: 2px solid #cac6c6;
  border-radius: 5px;
  background-color: red;
  margin: 0 auto;
}

.avatar {
  position: absolute;
  width: 100px;
  height: 150px;
  border-radius: 5px;
  color: transparent;
  border: 2px solid rgba(150, 150, 150, 0.7);
}

/*# sourceMappingURL=portfolio.css.map */
